#orgListGroup {
    border: none;
    max-width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

#orgListGroup .list-group-item {
    border-radius: 0;
    min-width: 100px;
}

#orgListGroup .list-group-item:nth-child(odd) {
    background-color: #b8daff;
}

#orgListGroup .list-group-item:hover {
    color: black;
}

.each-folder-badge {
    border: none;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    max-width: fit-content;
    padding: 10px;
}

.each-folder-badge:hover {
    box-shadow: 10px 5px 10px 2px rgba(0, 0, 0, 0.459);
}