.notesaccordion {
    max-width: 1000px;
    /* box-shadow: 4px 2px 50px 1px rgba(0, 0, 0, .1); */
    border: none;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

/* .accordionCard {
    border: none;   
    box-shadow: 4px 10px 20px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
} */

.savedNoteCard {
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    margin: 3px;
    color: white;
    border: none;
    background: #4ac29a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdfff3, #4ac29a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #bdfff3, #4ac29a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.savedNoteCard:hover {
    box-shadow: none;
}

.savedNoteHeader {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.savedNoteHeader:hover {
    border-bottom: 1px solid white;
}

#deleteNoteBtn {
    color: white;
}