.editorSection {
    border: none;
    box-shadow: 4px 2px 50px 1px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    min-width: 400px;
    padding: 20px;
}

#editor {
    border-bottom: "1px solid blue";
    max-height: "700px";
    overflow-y: "scroll";
}

.editorSection:after {
    content: '';
    position: absolute;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * 3px);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.editorInfoInputs {
    border: none;
    border-bottom: 1px solid blue;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 5px;
    width: 100%;
}

.editorButtons {
    box-shadow: 4px 2px 50px 1px rgba(156, 238, 156, 0.1);
    font-size: 20px;
    margin: 20px auto 5px;
    height: 45px;
    max-width: 200px;
    padding: 5px;
}

#note-info-section {
    margin-bottom: 10px;
}

.eachTagClass {
    margin: 10px 5px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid blueviolet;
    color: blueviolet;
}

#deleteTagButton {
    background: transparent;
    padding: 0 0 0 10px;
}