.loadingCard {
    border: none;
    margin-top: 10%;
    margin-bottom: 10%;
}

.lds-hourglass {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, rgb(191, 26, 224) 0%, rgb(83, 27, 212) 100%);
    box-shadow: 4px 10px 20px 1px rgba(66, 32, 221, 0.808);
    border-radius: 50%;
    display: inline-block;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}